:root {
  --primary-color: #ff9000;
  --bg-color: #130f0d;
  --text-color: #f0f0f5;
  --light-color: rgba(255, 255, 255, 0.04);
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html {
  font-family: 'Balsamiq Sans', cursive;
  height: 100%;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  color: var(--text-color);
}

form {
  background: var(--light-color);

  width: 100%;
  max-width: 500px;

  margin: 32px auto;
  padding: 32px 64px;

  display: flex;
  flex-direction: column;
}

form h2 {
  margin-bottom: 32px;
}

div.input {
  margin-bottom: 24px;
  position: relative;
}

input,
button {
  /* Reset apperareance */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  /* Box */
  width: 100%;

  padding: 16px 0;

  border: none;
  border-bottom: 1px solid var(--primary-color);

  background-color: transparent;

  /* Text */
  color: var(--text-color);
  font-size: 1em;
}

button {
  margin-top: 16px;
  background-color: var(--primary-color);
  border-radius: 8px;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  opacity: 0.4;
}

input ~ label {
  position: absolute;
  top: 16px;
  left: 0;

  color: rgba(255, 255, 255, 0.6);


  transition: .4s;
}

input:focus ~ label,
input:valid ~ label {
  transform: translateY(-24px);
  font-size: 0.8em;
  letter-spacing: 0.1em;
}

span.error {
  display: flex;
  padding: 0;
  background-color: rgba(255, 0, 0, 0.2);
}

span.error.active {
  border: 1px solid #e02041;
  padding: 0.4em;
}
